input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}